nav ul li {
  display: inline-block;
}
a {
  text-decoration: none;
  margin-left: 10px;
  font-size: 20px;
  color: white;
}
.active {
  font-weight: bold;
}
a:hover {
  opacity: 0.5;
}
.begining-title1 {
  text-align: center;
  color: white;
}
.apraksts1 {
  text-align: center;
  margin-top: 5%;
  font-size: 20px;
  color: white;
}
.skrundas-pulkstenis {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.begining-title2 {
  text-align: center;
  margin-top: 5%;
  color: white;
}
.skrundas-muiža {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.apraksts2 {
  text-align: center;
  margin-top: 5%;
  font-size: 20px;
  color: white;
}
.begining-titlec1 {
  text-align: center;
  margin-top: 5%;
  color: white;
}
.skrundas-karte {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.begining-titlec2 {
  margin-left: 60%;
  font-weight: bold;
  font-size: 20px;
  color: white;
}
.begining-titlea1 {
  text-align: center;
  margin-top: 5%;
  color: white;
}
.begining-titlea3 {
  text-align: center;
  margin-top: 5%;
  font-size: 20px;
  color: white;
}
.begining-titlea4 {
  text-align: center;
  margin-top: 5%;
  font-size: 20px;
  color: white;
}
.begining-titlea2 {
  text-align: center;
  margin-top: 5%;
  font-size: 20px;
  color: white;
}
.begining-titlea4 {
  text-align: center;
  margin-top: 5%;
  font-size: 20px;
  color: white;
}
.login-container {
  text-align: center;
  margin-top: 10%;
  color: white;
  font-size: 30px;
}
input {
  margin: 20px;
  padding: 10px;
}
button {
  background-color: blueviolet;
  color: white;
}
