nav ul li {
  display: inline-block;
}
a {
  text-decoration: none;
  color: black;
  margin-left: 10px;
}
.active {
  font-weight: bold;
}
a:hover {
  opacity: 0.5;
}
.begining-title1 {
  text-align: center;
  color: green;
}
.apraksts1 {
  text-align: center;
  margin-top: 5%;
}
.skrundas-pulkstenis {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.begining-title2 {
  text-align: center;
  color: purple;
  margin-top: 5%;
}
.skrundas-muiža {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.apraksts2 {
  text-align: center;
  margin-top: 5%;
}
.begining-titlec1 {
  text-align: center;
  color: red;
  margin-top: 5%;
}
.skrundas-karte {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.sectionc2 {
  margin-left: 65%;
  font-weight: bold;
}
